*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    border: burlywood;
    padding: 50%;
    background-color: chartreuse;

}

.btn {
    font-style: bold;
    background-color: fuchsia;
    width: 65px auto;

}

#start-btn button {
    font-style: bold;
    background-color: aqua;
    position: relative
    
    ;

}

body {
    background-color:beige;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: blueviolet;
    padding: 50px;
    margin: 50px;
    
}
h2 {
    font-weight: bold;
    font-size: 38px;
    text-align: left;

}

.next-btn button {
    background-color: rgb(255, 81, 0);
    width: 65px auto;

}
.submit-btn button {
    background-color: blueviolet;
    width: 65px auto;

}